body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-area {
    background-image: url(images/donation13.jpg);
    background-size: cover;
}
.top-content {
    width: 70%;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
}
.top-content h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0;
}
.top-content p {
    color: white;
    width: 70%;
    text-align: center;
    margin: 10px auto;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: 100;
}.button-area {
    color: white;
    background-image: linear-gradient(tomato, orange);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 7px;
    box-shadow: 1px 5px 25px rgb(70, 63, 63)
}
.donation {
    padding: 100px 0;
    text-align: center;
}
.donation h1 {
    font-size: 60px;
    margin: 11px 0;
    text-align: center;
}
.donation p {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.amount-taka {
    display: flex;
    margin: 0 auto;
    width: 70%;
    padding: 50px 0;
}
.amount {
    background-color: rgb(251, 234, 234);
    width: 20%;
    border-radius: 7px;
    margin-left: 15px;
}
.amount h2 {
    text-align: center;
    padding: 7px;
    font-size: 30px;
    color: rgb(102, 96, 96);
}
#same-donation {
    background-color: rgb(233, 183, 176);
    border: 3px solid rgb(194, 67, 45);
}
#same-donation h2 {
    color: rgb(200, 66, 43);
}
#input-taka {
    font-size: 20px;
    border: none;
    border-bottom: 2px solid rgb(186, 186, 186);
    display: block;
    margin: 0 auto;
    padding: 7px 300px;
}
#donate-now {
    margin: 40px 0;
    margin-left: -70px;
    display: inline-block;
    background-image: linear-gradient(tomato, orange);
    border-radius: 7px;
    padding: 12px 30px;
    text-decoration: none;
    color: white;
}
.plan-area {
    display: flex;
    padding: 50px 0;
}

#food-family {
    background-color: rgb(225, 225, 252);
    text-align: center;
    padding-left: 20%;
    padding-top: 4%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 50%;
    padding-left: 20px;
    border-radius: 15px;
    margin: 10px 0;
    font-size: 30px;
}
#shelter-family{
    background-color: antiquewhite;
    text-align: center;
    padding-left: 20%;
    padding-top: 4%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 50%;
    padding-left: 20px;
    margin: 10px 0;
    border-radius: 15px;
    font-size: 30px;
}
#education-family{
    background-color: rgb(183, 247, 247);
    text-align: center;
    padding-left: 20%;
    padding-top: 4%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 50%;
    padding-left: 20px;
    margin: 10px 0;
    border-radius: 15px;
    font-size: 30px;
}
.flexible-container{
    position: center;
}
.plan-area{
    position: center;
}
.donate-plan-side{
    padding-left: 435px;
}
#our-plan{
    padding-right: 490px;
}
.example-plan {
    width: 26%;
    margin-left: 3%;
    background-color: rgb(254, 234, 231);
    padding: 0 20px;
    padding-top: 35px;
    border-radius: 10px;
}
.donate-plan-side h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}
#short-details {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
p {
    color: rgb(144, 144, 144)
}
.contribute {
    display: flex;
    padding: 70px 0;
}
.contribute-something {
    width: 50%;
    margin-left: 4%;
}
.contribute-something img {
    margin-top: 55px;
    border-radius: 10px;
    width: 87%;
}
.contribute-something h1 {
    font-size: 60px;
}
.contribute-something p {
    width: 70%;
    padding-bottom: 20px;
    font-size: 20px;
}
.button-style{
    margin: 40px 0;
    display: inline-block;
    background-image: linear-gradient(tomato, orange);
    border-radius: 7px;
    padding: 12px 30px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}.update {
    text-align: center;
    padding: 100px 0;
}
.update h1 {
    font-size: 60px;
    margin: 0;
}
.email {
    background: rgb(246, 181, 171);
    padding: 70px 0;
    width: 70%;
    margin: 60px auto;
    border-radius: 7px;
}

.email input {
    font-size: 17px;
    padding: 12px 20px;
    background-color: rgb(245, 206, 206);
    border: none;
    border-radius: 5px;
}
.email button {
    font-size: 17px;
    color: white;
    border-radius: 0 5px 5px 0;
    background-image: linear-gradient(tomato, orange);
    border: none;
    padding: 12px 30px;
    margin-left: -5px;
}
footer {
    text-align: center;
    background-color: rgb(15, 2, 32);
    padding: 50px 0;
    border-radius: 7px;
}
footer h2 {
    color: rgb(248, 7, 47);
    margin: 0;
    font-style: oblique;
    font-size: 40px;
}
footer p {
    margin: 0;
    font-size: 15px;
    color: white;
}
